{% extends "../base.html" %}
{% block main %}
    <div class="main-page">
        {% for dream in dreams %}
        <div class="panel panel-default post">
            <div class="panel-body">
                <hgroup>
                    <div class="row">
                        <div class="col-md-11">
                            <h1><a href="/dream/id/{{ dream.id }}">
                                {{ dream.title }}
                            </a></h1>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-calendar"> {{ dream.pubDate }}</span>
                </hgroup>
                <hr>
                <p class="">{% raw dream.content[0:200] %} 
            </div>
        </div>
        {% end %}
    </div>
    {% module PageNav(nav=nav, show=True) %}
{% end %}

{% block side %}
  {% module RecentDream(side['recent_dream']) %}
  {% module Tag(side['tags']) %}
{% end %}
{% block ad2%}
<h4>广而告之栏目</h4>
<hr>
<h3>我们结婚吧！！！</h3>
{% end %}

